
<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>User_ ID</th>
    <th>Email</th>
  </tr>

  <% if @articles.empty? %>
    <span>Sorry, post is empty </span> 
  <% else %>
    <% @articles.each do |article| %>
    <% if article.user_id == current_user.id %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.user_id %></td>
      <td><%= article.user.email %></td>

      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

               
    </tr>

  <% end %>
    <% end %>
</table>
 <% end %>

 
 
  

